#quiz-title{
  margin-left: 20%;
  margin-bottom: 5%;
  width: 100%;
}
#question{
  width: 50vw;
  margin-top: 5%;
  margin-left: 20%;
}
#btn-next-question{
  margin-left: 75%;
  width: 30%;
}
#game{
  width: 100%;
}
.choice-container{
    display: flex;
    margin-bottom: 1%;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(255, 71, 26, 0.25);
    background-color: white;
    margin-left: 20%;
}
.choice-container:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(153, 51, 255);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: #AA66CC;
    color: white;
    height: auto;
    margin: 0;
}
.choice-text{
    padding: 1.5rem;
    width: 100%;
    color: black;
}
.correct{
background-color: #34EB80;
}
.incorrect{
background-color: #8000ff;
}
/*HUD*/
#hud{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.hud-prefix{
    text-align: center;
    font-size: 1rem;
    width: 100%;
}
.hud-main-text{
    text-align: center;
    margin-left: 100%;
}
#progressBar{
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #AA66CC;
    margin-left: 80%
}
#progressBarFull{
    height: 3.5rem;
    background-color: #AA66CC;
    width: 1%;
}
#progressText{
  margin-left: 80%;
  margin-top: 5%;
}
